In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/08/10 00:00:40 WARN Utils: Your hostname, BenOmar resolves to a loopback address: 127.0.1.1; using 172.22.12.195 instead (on interface eth0)
23/08/10 00:00:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/10 00:00:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.createOrReplaceTempView('green')

In [6]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

 OR data zoo

In [5]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour',lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [6]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-24 09:00:00|  81|             59.49|             2|
|2020-01-04 21:00:00|  25|            513.83|            32|
|2020-01-10 19:00:00|  66| 545.6800000000001|            27|
|2020-01-30 07:00:00|  75| 556.6600000000001|            40|
|2020-01-18 01:00:00| 260|            144.56|            12|
|2020-01-12 08:00:00| 177|31.090000000000003|             2|
|2020-01-20 21:00:00| 166|            133.28|            12|
|2020-01-03 04:00:00|  14|            105.34|             2|
|2020-01-30 20:00:00|  74| 766.4399999999996|            58|
|2020-01-02 16:00:00|  66|257.00000000000006|            12|
|2020-01-11 23:00:00|  42| 340.4700000000001|            31|
|2020-01-13 12:00:00|  89|            135.25|             6|
|2020-01-02 08:00:00| 174|50.309999999999995|             3|
|2020-01-20 01:00:00|  41| 95.35999999999999|            12|
|2020-01-16 21:00:00|  65| 394.2900000000001|            27|
|2020-01-17 11:00:00|  41| 513.6600000000002|            46|
|2020-01-22 11:00:00|  74| 854.6899999999994|            59|
|2020-01-07 09:00:00| 116|373.72999999999996|            22|
|2020-01-26 13:00:00|  35|            245.61|             6|
|2020-01-12 15:00:00| 244|252.85000000000002|            14|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [7]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

23/08/09 19:49:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/08/09 19:49:17 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [8]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.createOrReplaceTempView('yellow')

df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

23/08/09 21:30:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/08/09 21:30:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [9]:
df_green_revenue = df_green_revenue\
    .withColumnRenamed('amount','green_amount')\
    .withColumnRenamed('number_records','green_number_records')

df_yellow_revenue = df_yellow_revenue\
    .withColumnRenamed('amount','yellow_amount')\
    .withColumnRenamed('number_records','yellow_number_records')

In [10]:
df_join = df_green_revenue.join(df_yellow_revenue,on=['hour','zone'],how='outer')

In [11]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  22|              15.8|                   1|              null|                 null|
|2020-01-01 00:00:00|  25|             531.0|                  26|            324.35|                   16|
|2020-01-01 00:00:00|  55|129.29000000000002|                   4|              null|                 null|
|2020-01-01 00:00:00|  56|             99.69|                   3|              18.1|                    2|
|2020-01-01 00:00:00|  60|            160.04|                   6|57.620000000000005|                    2|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|
|2020-01-01 00:00:00|  65|            199.49|                  10|            409.35|                   19|
|2020-01-01 00:00:00|  71|              23.8|                   1|              null|                 null|
|2020-01-01 00:00:00|  78|             34.46|                   2|              null|                 null|
|2020-01-01 00:00:00|  88|              null|                null| 823.8000000000002|                   36|
|2020-01-01 00:00:00| 106|             10.56|                   1|              null|                 null|
|2020-01-01 00:00:00| 112|312.26000000000005|                  18|119.47999999999999|                    8|
|2020-01-01 00:00:00| 113|              null|                null| 3984.319999999997|                  220|
|2020-01-01 00:00:00| 148|              null|                null| 6790.150000000008|                  371|
|2020-01-01 00:00:00| 161|              null|                null| 9410.210000000021|                  488|
|2020-01-01 00:00:00| 162|              null|                null| 4622.289999999997|                  268|
|2020-01-01 00:00:00| 185|              null|                null|             69.51|                    2|
|2020-01-01 00:00:00| 190|             61.97|                   4|              54.1|                    3|
|2020-01-01 00:00:00| 194|              null|                null|            148.71|                    2|
|2020-01-01 00:00:00| 225|251.92000000000004|                  13|             74.07|                    3|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [12]:
df_join.write.parquet('data/report/revenue/total')

23/08/09 21:31:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

Part of downloading zone file

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-08-09 19:48:06--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.133.64, 52.216.210.80, 52.217.226.88, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.133.64|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-08-09 19:48:07 (85.5 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [13]:
df_zones = spark.read\
.option('header','true')\
.csv('taxi+_zone_lookup.csv')

In [14]:
df_zones = df_zones.withColumn('LocationID',df_zones.LocationID.cast("int"))

In [15]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [16]:
df_zones.write.parquet('data/zones',mode='overwrite')

In [17]:
!ls -l data/zones/

total 8
-rw-r--r-- 1 benomar benomar    0 Aug  9 21:31 _SUCCESS
-rw-r--r-- 1 benomar benomar 5926 Aug  9 21:31 part-00000-549a5172-96da-40c8-a357-72c6d4b74d52-c000.snappy.parquet

End on downloading Zones

In [18]:
df_zones = spark.read.parquet('data/zones/')

In [19]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [20]:
df_total_revenue = spark.read.parquet('data/report/revenue/total/')

In [21]:
df_result_join_zone = df_total_revenue.join(df_zones,df_total_revenue.zone==df_zones.LocationID)

In [22]:
df_result_join_zone.drop('zone','LocationID').write.parquet('tmp/revenue_zones')

23/08/09 21:55:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers